@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	&.ishome
		.site-header
		//background-image: url(../img/headbg.jpg)
		min-height: 800px
		height: 100vh
		background-color: $dark
		color: #fff
		.top-line
			padding-top: 40px
			position: absolute
			width: 100%
			z-index: 1

section, header
	position: relative
	background-size: cover
	background-position: center

section
	background-color: #fff

.logo
	img
	width: 125px
	height: auto
	margin-left: 45px

.phone
	position: absolute
	right: 120px
	top: 44px
	font-family: firasans, sans-serif
	font-size: 24px
	white-space: nowrap
	color: #fff
	.fas
		font-size: 24px
		//color: red
		margin-right: 3px
		font-weight: 900


.img-responsive
	display: block
	max-width: 100%
	height: auto

.hamburger
	position: absolute
	right: 0px
	top: 50px
	color: #fff
	.hamburger-box
		width: 34px
		height: 24px
		content: " "
		display: block
		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
			border-radius: 1px
			color: #fff
			width: 34px
			height: 4px
			background-color: #fff
			display: block
			content: " "
		

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

@import "media" // Всегда в конце
